.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

/* Style for the navigation bar */
/* Custom CSS */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 60px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar a,
.navbar .navbar-brand {
  color: white;
}

.navbar a:hover,
.navbar .navbar-brand:hover {
  color: white;
}

.navbar-toggler-icon {
  background-color: white;
}

.dropdown-menu a {
  color: white;
}

.dropdown-menu a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Custom Styles */
.navlink {
  font-weight: bold;
}

.dropdownContainer {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
}


/* override the Bootstrap H1 styles */
.tealColor {
  color: teal;
}

/* override the Bootstrap button styles */
.btn {
  background-color: teal;
  border-color: teal;
  color: teal;
}

/* override the Bootstrap navbar styles */
.navbar {
  background-color: #008080;
}

.gdpr-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  z-index: 9999;
}

.gdpr-popup.hidden {
  display: none;
}

.gdpr-buttons {
  margin-top: 10px;
}

.gdpr-buttons button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.gdpr-buttons button.accept {
  background-color: #4CAF50;
  color: white;
}

.gdpr-buttons button.decline {
  background-color: #f44336;
  color: #FFFFFF;
}

  .card {
    text-align: center;
  }

  .card .button-primary {
    background-color: teal;
    color: teal;
  }

.teal-button {
  background-color: teal;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.teal-button:hover {
  background-color: darkcyan;
}
